body{
    background-color: rgb(14, 19, 30);
    margin: 0;
    padding: 0;
    color: white;
}

button{
    border: 0000;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 5vw;
    width: 100%;
    background-color: rgb(27, 40, 56);
    flex-direction: row;
}

.header__logo{
    display: flex;
    height: 4vw;
}

.header__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left:3vw;
    width: 30vw;
}

.header__links-nav{
    display: flex;
    align-items: center;
    gap: 4vw;
    width: 20vw;
}

.header__link{
    font-size: 1.3vw;
}

.header__profile-chat{
    display: flex;
     width: 24vw;
     align-items: center;
     justify-content: space-around;
     margin-right: 2vw;
}

.header__notifications{
    display: flex;
    gap: 4vw;
    height: 2vw;

}

.header__icons{
    height: 1.8vw;
}

.header__profile{
    height: 4vw;
}

.hero{
    display: flex;
    background-image: url(Img&Png/Steam_files/banner-1.png);
    background-repeat: no-repeat; 
    object-fit: cover;
    background-position: top;
   background-position-x:left ;
   flex-wrap: wrap;
    height: 34vw;
    width: 100%;
}

.hero__logo{
    height: 7vw;
    display: flex;
    flex-wrap: wrap;
}

.hero__aling{
    margin: 6vw;
    width: 24vw;
}

.hero__call-to-action-text{
    font-size: 1.5vw;
}

.hero__button-buy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 3.5vw;
    width: 18vw;
    color: white;
    font-size: 1.1vw;
    background-color: rgb(0, 131, 245);
    animation: animationScroll 2s;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease-in-out;
}

.hero__button-buy:hover{
    background-color:rgb(14, 82, 141) ;
    transform: scale(1.1);
}

.container{
  margin: 5vw;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 1vw;
    flex-wrap: wrap;
    border-radius: 5px;
    height: 5vw;
    font-size: 0.7vw;
    background-color: rgb(27, 40, 56);
    margin-bottom: 2.2vw;

}

.menu__nav{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.search-game{
    display: flex;
    align-items: center;
    background-color: rgb(27, 40, 56);
    flex-wrap: wrap;
    border-radius: 3px;
    height: 4vw;
}

.search-game input{
    width: 76vw;
    height: 2.6vw;
    color: white;
    margin-left: 2vw;
    border-radius: 4px;
    background-color: rgb(27, 40, 56);
    border: none;
    outline: none;
    padding-left: 7px;
    font-size: 1.3vw;
}

.search-game input ::placeholder{
    color: #2a2e37;
}

.main-games{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-top: 5vw;
    justify-content: space-between;

}

.main-games__poster{
    flex-wrap: wrap;
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 20vw;
    height: 30vw;
    cursor: pointer;
}

.main-games__poster img{
    display: flex;
    height: 2.4vw;
    flex-wrap: wrap;
    margin-bottom: 3vw;
}

.discover{
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
    margin-bottom: 6vw;
}

.discover__align-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
}

.discover__button{
    width: 20vw;
    height: 4vw;
    border-radius: 4px;
    background-color:rgb(0, 131, 245); 
    color: white;
    font-size: 1.6vw;
    animation: animationScroll 2s;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.discover__button:hover{
    background-color:rgb(14, 82, 141) ;
    transform: scale(1.1);
}

.more-games{
    display: flex;
}

.container__games{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.more-games{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.more-games__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-between;
}

.more-games__block-game{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    margin-top:  3vw;

}

.more-games__img-game{
    display: flex;
    flex-wrap: wrap;
    height: 10vw;
    width: 18vw ;
    margin-bottom: 1vw;
    border-radius: 3px;
}

.more-games__title-game{
    font-size: 1.6vw;
    margin: 0.2vw;
}

.more-games__info{
    display: flex;
    margin-top: 0;
    margin-right: 1vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.more-games__value-discount{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 1.2vw;
    height: 2vw;
    width: 4vw;
    background-color:rgb(0, 131, 245); 
}

.more-games__value-old{
    text-decoration: line-through;
    font-size: 1.3vw;
    color: grey;

}

.more-games__value-new{
    font-size: 1.3vw;
}

.free-games{
    display: flex;
    margin-top: 6vw;
    flex-direction:column;
    margin-top: 2.2vw;

}

.free-games__layout{
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    gap: 2vw;
    align-items: center;
}

.free-games__block-game{
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: rgb(27, 40, 56);
    width: 29vw;
    height: 34vw;
    border-radius: 3px;
}

.free-games__img-game{
    border-radius: 4px;
}

.free-games__title-game{
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 0;
    padding: 0;
    margin-left: 2vw;
}

.free-games__term-discount{
    font-size: 1.4vw;
    margin-left: 2vw;
    padding: 0;
    margin-bottom: 0;
    color: grey;
}

.free-games__info{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 19vw;
    margin-left: 2vw;
    font-size: 1.5vw;
    justify-content: space-between;
}

.free-games__value-discount{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 0;
    height: 2vw;
    width: 4.5vw;
    background-color:rgb(0, 131, 245); 
}


.free-games__value-old{
    text-decoration: line-through;
    color: grey;
}

.free-games-others{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
    width: 29vw;
    height: 34vw;
}

.free-games-others__block{
    display: flex;
    flex-direction: column;
    width: 28vw;
    height: 16vw;
    background-color: rgb(27, 40, 56);
    border-radius: 4px;
}

.free-games__img-other-game{
    border-radius: 4px;
    height: 11.5vw;
}

.free-games-others__info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-size: 1.3vw;
    justify-content: space-around;

}









