body{
    background-color: rgb(14, 19, 30);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Open Sans', 'Inter', sans-serif;
    color: white;
}

button{
    border: 0000;
}

h1 h2 h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h2{
    font-size: 29px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 72px;
    width: 100%;
    background-color: rgb(27, 40, 56);
    flex-direction: row;
}

.header__logo{
    display: flex;
    height: 50px;
    margin-left:10%;
}

.header__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
    width: 20%;
}

.header__links-nav{
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 20%;
}

.header__link{
    font-size: 16px;
    cursor: pointer;
    transition: width 0.5s ease-out, 0.3s ease-out;  
    border-bottom: 2px solid transparent;

}

.header__link:hover{
    border-bottom: 2px solid  rgb(0, 131, 245);
}

.header__profile-chat{
    display: flex;
     width: 25%;
     align-items: center;
     justify-content: space-around;
     margin-right: 2%;
}

.header__notifications{
    display: flex;
    gap: 30px;
    height: 34px;
}

.header__notification-hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: width 0.5s ease-out, 0.3s ease-out;  
    height: 35px;
    width: 35px;
    border-radius: 50vw;
}

.header__notification-hover:hover{
    background-color:rgb(0, 131, 245);;
}

.header__chat-hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: width 0.5s ease-out, 0.3s ease-out;  
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.header__chat-hover:hover{
    background-color:rgb(0, 131, 245);;
}

.header__icons--chat{
    height: 28px;
}

.header__icons--notification{
    height: 28px;
}

.header__profile{
    height: 4vw;
}

.hero{
    display: flex;
    background-image: url(Img&Png/Steam_files/banner-1.png);
    background-repeat: no-repeat; 
    background-size:cover ;
    flex-wrap: wrap;
    width: 100%;
}

.hero__logo{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.hero__aling{
    margin: 5%;
    width: 24%;
}

.hero__call-to-action-text{
    font-size: 20px;
}

.hero__button-buy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    width: 70%;
    color: white;
    font-size: 15px;
    background-color: rgb(0, 131, 245);
    animation: animationScroll 2s;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease-in-out;
}

.hero__button-buy:hover{
    background-color:rgb(14, 82, 141) ;
    transform: scale(1.1);
}

.container{
  margin: 5%;
}

.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    height: 10vh;
    font-size: 14px;
    align-items: center;
    background-color: rgb(27, 40, 56);
    margin-bottom: 2%;
}

.menu__nav{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
}

.menu__nav h3{
    cursor: pointer;
    transition: width 0.5s ease-out, 0.3s ease-out;  
    border-bottom: 2px solid transparent;

}

.menu__nav h3:hover{
    border-bottom: 2px solid  rgb(0, 131, 245);;
}

.search-game{
    display: flex;
    align-items: center;
    background-color: rgb(27, 40, 56);
    flex-wrap: wrap;
    border-radius: 3px;
    height: 8vh;
}

.search-game input{
    width: 96%;
    height: 7vh;
    color: white;
    margin-left: 2%;
    border-radius: 4px;
    background-color: rgb(27, 40, 56);
    border: none;
    outline: none;
    padding-left: 7px;
    font-size: 20px;
}

.search-game input ::placeholder{
    color: #2a2e37;
}

 .main-games {
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
}

.main-games__slider {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-games__poster {
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 500px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.main-games__poster:hover {
    transform: scale(1.1);
}

#posterForzan{
    background-size: cover;
    background-position: bottom;
    display: flex;
}

.main-games__poster img{
    display: flex;
    display: flex;
    height: 38px;
    flex-wrap: wrap;
    margin-bottom: 20%;
}


.discover{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 4%;
}

.discover__align-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.discover__button{
    width: 23%;
    height: 50px;
    border-radius: 4px;
    background-color:rgb(0, 131, 245); 
    color: white;
    font-size: 20px;
    animation: animationScroll 2s;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.discover__button:hover{
    background-color:rgb(14, 82, 141) ;
    transform: scale(1.1);
}

.more-games{
    display: flex;
}

.container__games{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.more-games{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.more-games__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.more-games__block-game{
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    flex-wrap: wrap;
    margin-top:  3%;
}

.more-games__block-game:hover{
    transform: scale(1.1);
}

.more-games__img-game{
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    width: 110% ;
    margin-bottom: 1vw;
    border-radius: 2px;
}

.more-games__title-game{
    font-size: 20px;
    margin: 0.2vw;
}

.more-games__block-game{
    cursor: pointer;
}

.more-games__info{
    display: flex;
    margin-top: 0;
    margin-right: 1%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.more-games__value-discount{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 18px;
    height: 24px;
    width: 60px;
    background-color:rgb(0, 131, 245); 
}

.more-games__value-old{
    text-decoration: line-through;
    font-size: 16px;
    color: grey;
}

.more-games__value-new{
    font-size: 16px;
}

.free-games{
    display: flex;
    margin-top: 5%;
    flex-direction:column;
}

.free-games__layout{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    gap: 20px;
    align-items: center;
}

.free-games__block-game{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 0;
    background-color: rgb(27, 40, 56);
    width: 29vw;
    height: 72vh;
    border-radius: 3px;
}

.free-games__img-game{
    border-radius: 4px;
}

.free-games__title-game{
    font-size: 24px;
    margin-top: 7%;
    margin-bottom: 0;
    padding: 0;
    margin-left: 8%;
}

.free-games__term-discount{
    font-size: 18px;
    margin-left: 8%;
    padding: 0;
    margin-bottom: 0;
    color: grey;
}

.free-games__info{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 8%;
    margin-top: 4%;
    font-size: 18px;
    justify-content: space-between;
}

.free-games__value-discount{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border-radius: 5px;
    margin: 0;
    height: 24px;
    width: 60px;
    background-color:rgb(0, 131, 245); 
}

.free-games__value-old{
    text-decoration: line-through;
    color: grey;
}

.free-games-others{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.7vw;
    width: 29vw;
}

.free-games-others__block{
    display: flex;
    flex-direction: column;
    width: 28vw;
    cursor: pointer;
    height: 33vh;
    background-color: rgb(27, 40, 56);
    border-radius: 4px;
}

.free-games__img-other-game{
    border-radius: 4px;
    height: 24vh;
}

.free-games-others__info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    justify-content: space-around;
}

.free-games-others__info h3{
    font-size: 21px;
    margin: 0;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: rgb(27, 40, 56);

}

.footer-container__logo{
    height: 4vw;
}

@media (max-width: 600px) {

h2{
    font-size: 28px;
}
    
.header{
    height: 54px;
}

.header__logo{
    height: 38px;
    margin-left: 18px;
}

.header__link{
    display: none;
}

.header__links-nav{
    display: none;
}

.header__nav{
    width: 0vw;
}

.header__notification-hover{
    height: 32px;
    width: 32px;
    margin: 0;
    padding: 0;
}

.header__notification-hover:hover{
    background-color:rgb(0, 131, 245);;
}

.header__chat-hover{
    display: none;
}

.header__nav{
    width: 40%;
}

.header__icons--notification{
    height: 26px;
}

.header__icons--chat{
    display: none;
}

.header__profile{
    height: 38px;
}

.header__profile-chat{
    display: flex;
    justify-content: center ;
    gap: 2vw;
    align-items: center;
    margin-right: 20px;
}

.header__notifications{
    height: 28px ;
    display: flex;
    align-items: center;   
}

.header__icons--chat{
    display: none;
}

.hero{
    display: flex;
    height: 92%;
}

.hero__logo{
    height: 60px;
}

.hero__aling{
    margin: 6%;
    width: 58%;
}

.hero__call-to-action-text{
    font-size: 18px;
}

.hero__button-buy{
    font-size: 13px;
    width: 190px;
    height: 36px;
}

.container{
  margin: 5%;
}

.menu{
    margin-bottom: 8%;
    height: auto;
}

.menu__nav{
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px ;
    margin-bottom: 20px;
}

.menu__nav-block{
    display: flex;
    margin: 0;
    cursor: pointer;
    height: 8vw;
    border-radius: 3px;
    width: 82vw;
    background-color: rgb(45, 47, 51);
    align-items: center;
    justify-content: center;
}

.search-game{
    height: 45px;
    margin-bottom: 14vw;
}

.search-game input{
    font-size: 24px;
    width: 100%;
    height: 42px;
}

 .main-games{
    display: flex;
    gap: 20px;
    height: auto;
    margin-top: 6%;

}

.main-games__slider {
    width: 100%;
}

.main-games__poster {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 2;
    background-size: cover;
    background-position: center;
}

.main-games__poster:hover {
    transform: scale(1.0);
  }

.main-games__poster img {
    position: absolute;
    left: 50%;
    bottom: 24px;            
    transform: translateX(-50%);
    width: 55%;
    max-width: 200px;
    height: auto;
}

.discover{
    display: flex;
    margin-top: 10%;
    justify-content: center;
}

.discover__align-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4%;
    gap: 20px;
}

.discover__button{
    font-size: 22px;
    height: 50px;
    width: 100%;
    animation: none;
}

.discover__button:hover{
    transition: none;
    transform: none;
}

.more-games{
    display: flex;
    flex-direction: row;
}

.more-games__block-game{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.more-games__img-game{
    height: 96px;
    width: 42vw ;
    border-radius: 3px;
}

.more-games__title-game{
    font-size: 16px;
    margin: 4px;
}

.more-games__value-discount{
    border-radius: 5px;
    font-size: 14px;
    height: 18px;
    width: 34px;
}

.more-games__info{
    justify-content: space-around;
}

.more-games__value-old{
    font-size: 12.5px;
    white-space: nowrap;
}

.more-games__value-new{
    font-size: 12.5px;
    white-space: nowrap;
}

.free-games{
    margin-top: 7%;
}

.free-games__layout{
    align-items: normal;
    gap: 20px;               
    flex-direction: column;
}

.free-games__block-game{
    width: 100%;
    height: auto;
}

.free-games__title-game{
    font-size: 26px;
    margin-left: 5%;
}

.free-games__info{
    margin-left: 5%;
    width: 80%;
    flex-direction: row;
    font-size: 20px;
    margin-bottom: 20px;
}

.free-games__value-discount{
    border-radius: 4px;
    height: 3vh;
    width: 16vw;
}

.free-games__term-discount{
    font-size: 18px;
    margin-left: 5%;
}

.free-games-others{
    gap: 10px;
}

.free-games-others__block{
    width: 90vw;
    height: 67vw;
}

.free-games__img-other-game{
    height: 50vw;
}

.free-games-others__info{
    font-size: 5vw;
}

.free-games-others__info h3{
    font-size: 6vw;
}

.footer-container{
    margin-top: 15%;
    height: 10vh;
}

.footer-container__logo{
    height: 7vh;
}
}

@media (min-width: 601px) and (max-width: 1024px){
    
.header{
    height: 8vh;
    align-items: center;
}

.header__logo{
    height: 6vh;
    margin-left: 9%;
}

.header__links-nav{
    display: none;
}

.header__icons--chat{
    display: none;
}

.header__notifications{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__icons--notification{
    display: flex;
    height: 3.6vh;
    margin: 0;
    padding: 0;
}

.header__notification-hover{
    height: 7vw;
    width: 7vw;
}

.header__chat-hover{
    display: none;
}

.header__profile-chat{
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

.header__profile{
    height: 5.6vh;
}

h2{
    font-size: 4vw;
}

.hero__logo{
    height: 8vh;
}

.hero__aling{
    margin: 5%;
    width: 48%;
}

.hero__call-to-action-text{
    font-size: 24px;
}

.hero__button-buy{
    width: 52%;
    height: 4.4vh;
    font-size: 20px;
}

.menu{
    height: 6vh;
    font-size: 1.4vw;
}

.search-game{
    height: 6vh;
}

.search-game input{
    height: 5.3vh;
    font-size: 3vw;
}

.main-games__slider{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-games__poster{
    height: 40vh;
}

.main-games__poster img{
    height: 2.2vh;
}

.discover__align-buttons{
    margin-top: 2%;
}

.discover__button{
    height: 4.2vh;
    font-size: 2.5vw;
}

.more-games__list{
    justify-content: space-around;
}

.more-games__list{
    gap: 5%;
}

.more-games__img-game{
    width: 38vw;
    height: 16vh;
}

.more-games__title-game{
    font-size: 3.3vw;
}

.more-games__value-discount{
    height: 2.8vh;
    width: 8vw;
    font-size: 3vw;
}

.more-games__value-old{
    font-size: 3vw;
}

.more-games__value-new{
    font-size: 3vw;
}

.free-games{
    margin-top: 4vw;
}

.free-games__layout{
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: auto;
    gap: 5vw;
}

.free-games__img-game{
    height: 50vw;
}

.free-games__block-game{
    width: 84vw;
    height: 62vh;
}

.free-games__title-game{
    font-size: 4.8vw;
    margin-top: 2vw;
}

.free-games__info{
    flex-direction: row;
    width: 50vw;
}

.free-games__term-discount{
    font-size: 4vw;
    margin-bottom: 2vw;
}

.free-games__value-discount{
    font-size: 3vw;
    width: 12vw;
    height: 3.6vh;
}

.free-games__value-old{
    font-size: 3.4vw;
}

.free-games__value-new{
    font-size: 3.4vw
}

.free-games-others{
    justify-content: space-around;
    gap: 4vw;
    margin-bottom: 18vw;
    flex-direction: column;
    width: 86vw;
}

.free-games-others__block{
    width: 85vw;
    height: 35vh;
}

.free-games__img-other-game{
    border-radius: 4px;
    height: 36vw;
}

.free-games-others__info h3{
    font-size: 4vw;
}

.free-games-others__info{
    font-size: 5vw;
}

.footer-container{
    margin-top: 2%;
    height: 12vh;
}

.footer-container__logo{
    height: 8vh;
}

}












